In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel("D:\Courses\projects\Amazon- Movies and Films\Amazon- Movies and Films.xlsx")

In [3]:
df

,Unnamed: 0,title,Unnamed: 2,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
0,0,Totally Killer,4.3,323,Prime Video,2023.0,R,Nahnatchka Khan,"Kiernan Shipka,Olivia Holt,Julie Bowen",NaN
1,1,Guy Ritchie's The Covenant,4.7,13268,Prime Video,2023.0,R,Guy Ritchie,"Jake Gyllenhaal,Dar Salim,Antony Starr",5.99
2,2,A Million Miles Away,4.9,1126,Prime Video,2023.0,PG,Alejandra MÃ¡rquez Abella,"Michael PeÃ±a,Rosa Salazar",NaN
3,3,Kelce,5.0,570,Prime Video,2023.0,NaN,Don Argott,"Jason Kelce,Travis Kelce,Kylie Kelce,Connor Ba...",NaN
4,4,Despicable Me 3,4.8,31813,Prime Video,2017.0,PG,"Pierre Coffin,Kyle Balda","Steve Carell,Kristen Wiig,Trey Parker",NaN
...,...,...,...,...,...,...,...,...,...,...
2103,2112,NaN,4.8,30,Prime Video,2023.0,NaN,Magnus Gertten,"Nelly Mousset-Vos,Nadine Hwang,Anne Bianchi",2.99
2104,2113,NaN,5.0,2,Prime Video,2023.0,NaN,Joe Carroll,"Brittany Inge,Nathan Owens,James Black,Dorian ...",NaN
2105,2114,NaN,4.8,26335,Prime Video,2016.0,PG,"Ron Clements,John Musker","Auli'i Cravalho,Dwayne Johnson,Rachel House",9.99
2106,2115,Honey Boy,4.4,1338,Prime Video,2019.0,R,Alma Harâ€™el,"Shia LaBeouf,Lucas Hedges,Noah Jupe,FKA twigs",NaN
2107,2116,Jumanji: Welcome to the Jungle,4.7,96699,Prime Video,2017.0,PG-13,Jake Kasdan,"Dwayne Johnson,Kevin Hart,Jack Black,Karen Gillan",3.59

In [4]:
df.isna().sum()

Unnamed: 0          0
title              51
Unnamed: 2          0
No_of_Ratings       0
Format              0
ReleaseYear        39
MPAA_Rating       730
Directed_By        65
Starring            1
Price            1097
dtype: int64

In [5]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.dropna(subset=['title'], inplace=True)

In [7]:
df['Unnamed: 2']

0       4.3
1       4.7
2       4.9
3       5.0
4       4.8
       ...
2067    4.0
2081    4.2
2084    4.6
2106    4.4
2107    4.7
Name: Unnamed: 2, Length: 2057, dtype: float64

In [8]:
df.rename(columns={'Unnamed: 2':'Rate'},inplace=True)

In [9]:
df['Rate'].isna().sum()

0

In [10]:
df['ReleaseYear'].isna().sum()

39

In [11]:
df.dropna(subset=['ReleaseYear'], inplace=True)

In [12]:
df['Format'].value_counts()

Prime Video     2008
Prime; Video      10
Name: Format, dtype: int64

In [13]:
values_to_delete = ['Prime Video']
df = df[df['Format'].isin(values_to_delete)]

In [14]:
df_copy = df.copy()
df_copy.dropna(subset=['Directed_By'], inplace=True)

In [15]:
df.dropna(subset=['Directed_By'], inplace=True)

C:\Users\walid\AppData\Local\Temp\ipykernel_11728\2931403737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Directed_By'], inplace=True)

In [16]:
df.drop(['MPAA_Rating'],axis=1,inplace=True)

C:\Users\walid\AppData\Local\Temp\ipykernel_11728\1686300632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['MPAA_Rating'],axis=1,inplace=True)

In [17]:
df.isna().sum()

title               0
Rate                0
No_of_Ratings       0
Format              0
ReleaseYear         0
Directed_By         0
Starring            1
Price            1009
dtype: int64

In [18]:
df = df.dropna(subset=['Starring'])

In [19]:
df['Price'].fillna(method='ffill', inplace=True)

In [20]:
df['Price'].value_counts()

3.99     618
3.79     457
2.99     219
3.59     141
1.99      76
5.99      70
3.89      45
2.89      44
0.99      37
19.99     23
4.29      23
3.39      17
12.99     15
3.09      15
3.49      14
4.99      14
3.29      13
9.99      12
4.19      11
14.99     11
3.00       9
3.19       8
3.69       7
5.89       7
7.99       6
17.99      5
6.99       5
0.89       4
2.79       4
4.49       3
2.29       3
1.79       3
4.59       2
2.49       1
5.29       1
4.69       1
2.69       1
8.79       1
14.69      1
24.99      1
7.79       1
Name: Price, dtype: int64

In [21]:
df['Price'].isna()

0        True
1       False
2       False
3       False
4       False
        ...
2067    False
2081    False
2084    False
2106    False
2107    False
Name: Price, Length: 1950, dtype: bool

In [22]:
df.dropna(subset=['Price'], inplace=True)

In [24]:
df

,title,Rate,No_of_Ratings,Format,ReleaseYear,Directed_By,Starring,Price
1,Guy Ritchie's The Covenant,4.7,13268,Prime Video,2023.0,Guy Ritchie,"Jake Gyllenhaal,Dar Salim,Antony Starr",5.99
2,A Million Miles Away,4.9,1126,Prime Video,2023.0,Alejandra MÃ¡rquez Abella,"Michael PeÃ±a,Rosa Salazar",5.99
3,Kelce,5.0,570,Prime Video,2023.0,Don Argott,"Jason Kelce,Travis Kelce,Kylie Kelce,Connor Ba...",5.99
4,Despicable Me 3,4.8,31813,Prime Video,2017.0,"Pierre Coffin,Kyle Balda","Steve Carell,Kristen Wiig,Trey Parker",5.99
5,Those Who Wish Me Dead,4.3,7403,Prime Video,2021.0,Taylor Sheridan,"Angelina Jolie,Nicholas Hoult,Jon Bernthal",3.79
...,...,...,...,...,...,...,...,...
2067,Repentance,4.0,1779,Prime Video,2013.0,Philippe Caland,"Forest Whitaker,Anthony Mackie,Mike Epps,Sanaa...",3.79
2081,The Greatest,4.2,176,Prime Video,2009.0,Shana Feste,"Carey Mulligan,Pierce Brosnan,Susan Sarandon",3.79
2084,Mission: Impossible IV - Ghost Protocol,4.6,9122,Prime Video,2011.0,Brad Bird,"Tom Cruise,Jeremy Renner,Simon Pegg,Paula Patton",3.99
2106,Honey Boy,4.4,1338,Prime Video,2019.0,Alma Harâ€™el,"Shia LaBeouf,Lucas Hedges,Noah Jupe,FKA twigs",3.99
2107,Jumanji: Welcome to the Jungle,4.7,96699,Prime Video,2017.0,Jake Kasdan,"Dwayne Johnson,Kevin Hart,Jack Black,Karen Gillan",3.59

In [25]:
df.isna().sum()

title            0
Rate             0
No_of_Ratings    0
Format           0
ReleaseYear      0
Directed_By      0
Starring         0
Price            0
dtype: int64

In [23]:
df.dtypes

title             object
Rate             float64
No_of_Ratings      int64
Format            object
ReleaseYear      float64
Directed_By       object
Starring          object
Price            float64
dtype: object

In [26]:
df.to_csv('Amazon.csv')